<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/styles_home.css' %}">
</head>
<body>
    <div>
        <div id="page">
            <nav id="nav">
                Hello
                <div id="nav_buttons">
                    <h4><a href="">Home</a></h4>
                    <h4><a href="">More</a></h4>
                    <h4><a href="">About</a></h4>
                    <h4><a href="">Contact</a></h4>
                    <h4><a href="{% url 'login' %}">Login</a></h4>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>